@using SF.Mod35.TeamNetwork.App.Views.Register;

@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-8">

    </div>

    <div class="col-4">
        <div class="row">
            Log in.
        </div>
        <div class="row">
            <partial name="RegisterStart"/>
        </div>
    </div>

</div>

@* This page will have two partial views that need clientside validation *@
@section Scripts{<partial name="_ValidationScriptsPartial" />}
