@model SF.Mod35.TeamNetwork.App.Views.Search.SearchViewModel
@{
}

<article class="row">
	@if (Model.UserList.Count != 0)
	{
		@foreach (var user in @Model.UserList)
		{
			<section class="card col-2">
				<img class="card-img" src="@user.Item1.ImageUrl" alt="User profile pic"/>
				<label class="card-text">@user.Item1.FullName</label>
				@if (user.Item2 == ClassLibrary.Models.ConnectionStatus.Absent)
				{
					<form asp-controller="Connections" asp-action="SuggestConnection" asp-route-id="@user.Item1.Id" method="post">
						<button type="submit" class="btn btn-primary">
							Send connect request
						</button>
					</form>
				}
			</section>
		}
	}
	else
	{
		<section>Search did not gave any results</section>
	}
</article>
