@model SF.Mod35.TeamNetwork.App.Views.Register.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="card col">
	<h2 class="card-header">Finish registration</h2>
	<form class="card-text p-3" method="post" asp-controller="Register" asp-action="RegisterEnd">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="row">
			<label asp-for="FirstName"></label><br />
			<input asp-for="FirstName" />
			<span  class="alert-danger small" role="alert" asp-validation-for="FirstName"></span>
		</div>
		<div class="row">
			<label asp-for="LastName"></label><br />
			<input asp-for="LastName" />
			<span  class="alert-danger small" role="alert" asp-validation-for="LastName"></span>
		</div>
		<div class="row">
			<label asp-for="Login"></label><br />
			<input asp-for="Login" />
			<span  class="alert-danger small" role="alert" asp-validation-for="Login"></span>
		</div>
		<div class="row">
			<label asp-for="EmailReg"></label><br />
			<input asp-for="EmailReg" />
			<span  class="alert-danger small" role="alert" asp-validation-for="EmailReg"></span>
		</div>
		<div class="row">
			<label asp-for="DateOfBirth"></label><br />
			<input type="date" asp-for="DateOfBirth" />
			<span  class="alert-danger small" role="alert" asp-validation-for="DateOfBirth"></span>
		</div>
		<div class="row">
			<label asp-for="PasswordReg"></label><br />
			<input asp-for="PasswordReg" />
			<span  class="alert-danger small" role="alert" asp-validation-for="PasswordReg"></span>
		</div>
		<div class="row">
			<label asp-for="PasswordConfirm"></label><br />
			<input asp-for="PasswordConfirm" />
			<span  class="alert-danger small" role="alert" asp-validation-for="PasswordConfirm"></span>
		</div>
		<div class="row mt-3">
			<button class="btn-primary" type="submit">
				Create Account
			</button>
		</div>
	</form>
</div>

@section Scripts{<partial name="_ValidationScriptsPartial" />}
