@model SF.Mod35.TeamNetwork.App.Views.Register.RegisterViewModel
@{
}

<div class="card col g-1" style="padding: 0">
	<h2 class="card-header">New at our site?</h2>
	<form id="registerStartForm" class="card-body" method="get" asp-controller="Register" asp-action="RegisterEnd">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="row">
			<label class="form-label" asp-for="FirstName">First name</label><br />
			<input class="form-control" asp-for="FirstName" />
			<span class="alert-danger small" role="alert" asp-validation-for="FirstName"></span>
		</div>
		<div class="row">
			<label class="form-label" asp-for="LastName">Last name</label><br />
			<input class="form-control" asp-for="LastName" />
			<span class="alert-danger small" role="alert" asp-validation-for="LastName"></span>
		</div>
		<div class="row mt-3">
			<button class="btn btn-primary" type="submit" value="">
				Sign me up!
			</button>
		</div>
	</form>
</div>
